* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}

body {
  background-color: #6C104D;
  font-family: 'Lora', serif;
  font-size: 16px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  padding: 20px;
}

input[type='radio'] {
  margin: 10px 20px 20px 20px;
}

.quizContainer {
  background-color: white;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 40px;
}

.bannerImg {
  max-width: 600px;
}

.main-heading {
  background-color: #c5c5c5;
  border: solid 1px black;
  font-size: 24px;
  text-align: center;
  padding: 5px;
  margin: 10px 10px 10px 10px;
}

.button {
  background-color: #5a500c;
  color: #fffacd;
  display: flex;
  justify-content: center;
  max-width: 150px;
  padding: 10px;
  font-size: 1em;
  border: none;
}

.animate {
  transition: all 300ms;
}
.fade-out {
  opacity: 0;
}

.qAcontainer, .endContainer {
  background-color: white;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 10px;
  /* border: solid 5px pink; */
}

.questionScoreBar {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  background-color: #c5c5c5;
  padding: 10px;
}

#questionScoreList li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

.questionContainer {
  /* border: solid 1px red; */
  padding: 10px;
  flex: 2 2 0;
}

.feedbackContainer, .endContainer {
  background-color: white;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
  margin: 40px;
  padding: 20px;
}

#rightImg {
  max-width: 600px;
}

#wrongImg {
  width: 400px;
}
